.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e1ead5a70f94 {color: #2ed600;}
.fl-builder-content .fl-node-5e1ead5a70f94 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {color: inherit;}
.fl-builder-content .fl-node-5e1ead5a70f94 a {color: #2ed600;}
.fl-builder-content .fl-node-5e1ead5a70f94 a:hover {color: #2ed600;}
.fl-builder-content .fl-node-5e1ead5a70f94 h1, .fl-builder-content .fl-node-5e1ead5a70f94 h2, .fl-builder-content .fl-node-5e1ead5a70f94 h3, .fl-builder-content .fl-node-5e1ead5a70f94 h4, .fl-builder-content .fl-node-5e1ead5a70f94 h5, .fl-builder-content .fl-node-5e1ead5a70f94 h6, .fl-builder-content .fl-node-5e1ead5a70f94 h1 a, .fl-builder-content .fl-node-5e1ead5a70f94 h2 a, .fl-builder-content .fl-node-5e1ead5a70f94 h3 a, .fl-builder-content .fl-node-5e1ead5a70f94 h4 a, .fl-builder-content .fl-node-5e1ead5a70f94 h5 a, .fl-builder-content .fl-node-5e1ead5a70f94 h6 a {color: #2ed600;}
.fl-node-5e1ead5a70f94 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e1ead5a70f94 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e1ead5a70f94 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e1ead5a87e91 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}